body {
  font-family: sans-serif;
  font-size: 20px;
  background-color: black;
  color: white;
  overflow: hidden;
  margin-top: 75px;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px cyan, 0 0 40px #e60073,
      0 0 50px cyan, 0 0 60px cyan, 0 0 70px cyan;
  }
  to {
    text-shadow: 0 0 20px cyan, 0 0 30px cyan, 0 0 40px cyan, 0 0 50px cyan,
      0 0 60px cyan, 0 0 70px cyan, 0 0 80px cyan;
  }
}

#image {
  margin-bottom: 5px;
  border-radius: 50%;
  /* animation: jump 2s linear infinite; */
  cursor: pointer;
  margin-left: 0%;
  -webkit-border-image: url(cookie.png) 30 round; /* Safari 3.1-5 */
  -o-border-image: url(cookie.png) 30 round; /* Opera 11-12.1 */
  border-image: url(cookie.png) 30 round;
  -webkit-box-shadow: 0px 0px 25px 15px cyan;
  -moz-box-shadow: 0px 0px 25px 15px cyan;
  box-shadow: 0px 0px 25px 15px cyan;
}

/* @keyframes jump {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(20px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} */

.container:hover {
  transform: scale(1.03);
}

#timer-count {
  color: black;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100px;
  margin-bottom: -10px;
  margin-left: 0%;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

#reload-btn {
  width: 100px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: red;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

p {
  margin-bottom: 10px;
}

#count-div {
  border-radius: 150px;
  padding: 0%;
  background-color: white;
  width: 40px;
  color: black;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}
